<section id="content" class="content">
    <br/><br/><br/>
    <div class="welcome"><h1>{{username}}'s Dashboard</h1></div>			
    
	<br/>
	
    <div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
		<mat-card *ngFor= "let program of enrolledPrograms" class="box">
		  <mat-card-header>
			<mat-card-title>{{program.title}}</mat-card-title>
		  </mat-card-header>
        <mat-card-content>
            <p>Description: {{program.description}}</p>
            <h5>Program Start Date: {{program.startDate}}</h5>
            <h5>Target Completion Date: {{program.targetCompletionDate}}</h5>
        </mat-card-content>
        <button mat-stroked-button color="primary" class="btn-block" routerLink="/program/{{program.programId}}">View More</button>
		</mat-card>
	</div>
</section>
