/ChallengeTrackerApplication/ChallengeTrackerApplication-ejb/dist/
/ChallengeTrackerApplication/ChallengeTrackerApplication-ejb/build/
/ChallengeTrackerApplication/build/
/ChallengeTrackerApplication/dist/
/ChallengeTrackerApplication/ChallengeTrackerApplication-war/build/
/ChallengeTrackerApplication/ChallengeTrackerApplication-war/dist/
