<mat-toolbar color="primary" class="app-header">
  <span class="positronx" style="text-align: center;">TrackVision</span>
  <span class="nav-tool-items">
    <a *ngIf="sessionService.getIsLogin() == true" mat-button mat-raised-button (click)="userLogout()" [routerLink]="['/index']">Logout</a>
  </span>
</mat-toolbar> 

<mat-sidenav>
  <button mat-button [routerLink]="['/index']" class="menu-button">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-button [routerLink]="['/program/createProgram']" class="menu-button">
    <mat-icon>add</mat-icon>
    <span>Create Program</span>
  </button>
</mat-sidenav>

<router-outlet></router-outlet>
