<mat-toolbar color="primary" class="app-header">
  <button *ngIf="sessionService.getIsLogin() == true" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
        menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
        close
    </mat-icon>
  </button>
  <span class="positronx" style="text-align: center;">TrackVision</span>
  <span class="nav-tool-items">
    <a *ngIf="sessionService.getIsLogin() == true" mat-button mat-raised-button (click)="userLogout()" [routerLink]="['/index']">Logout</a>
  </span>
</mat-toolbar> 
<br/><br/><br/>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <button mat-button [routerLink]="['/reminders']">
      <mat-icon>timer</mat-icon>
      <span>Reminders</span>
    </button>
    <br/>
    <button mat-button [routerLink]="['/dashboard']">
      <mat-icon>home</mat-icon>
      <span>Dashboard</span>
    </button>
    <br/>
    <button mat-button [routerLink]="['/program/createProgram']">
      <mat-icon>add</mat-icon>
      <span>Create Program</span>
    </button>
    <br/>
    <button mat-button [routerLink]="['/rewards']">
      <mat-icon>store</mat-icon>
      <span>Rewards Store</span>
    </button>
    <br/>
    <!--
    <button mat-button [routerLink]="['/redeemedRewards']">
      <mat-icon>star</mat-icon>
      <span>Redeemed Rewards</span>
    </button>
    -->
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
