<section id="content" class="content">
    <br/><br/><br/>
    <div class="main-wrapper" fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-card *ngIf="retrieveRewardError == true" class="box">
            <mat-card-header>
              <mat-card-title style="color: red;">Reward ID {{rewardId}} does not exist!</mat-card-title>
            </mat-card-header>
            <button mat-stroked-button color="primary" class="btn-block" routerLink="/dashboard">Back</button>
        </mat-card>

		<mat-card *ngIf="retrieveRewardError == false" class="programbox">
		  <mat-card-header>
			<mat-card-title>{{reward.rewardTitle}}</mat-card-title>
		  </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <div mat-line><b>Reward Type: {{reward.rewardType}}</b></div>
                        <div mat-line><p>{{reward.rewardDescription}}</p></div>
                        <div mat-line *ngIf="reward.storeAddress != null">Store Address: {{reward.storeAddress}}</div>
                        <div mat-line><h4>{{reward.redeemablePoints}} Points</h4></div>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button color="primary" class="btn-block" (click)="redeemReward(reward.rewardId)">Redeem</button>
            </mat-card-actions>
            <div *ngIf="error == false" style="color:blue;">
                {{message}}
              </div>
              <div *ngIf="error == true" style="color:red;">
                {{message}}
              </div>
		</mat-card>
	</div>
</section>
