<section id="content" class="content">
    <br/><br/><br/>
    <div class="welcome"><h1>Redeemed Rewards</h1></div>			
	<br/>
	
    <div class="main-wrapper" fxLayout="column" fxLayoutAlign="center center">
		<mat-card *ngFor= "let rewardHistory of rewardHistories" class="box">
            <mat-card-header>
                <mat-card-title>{{rewardHistory.rewardsHistoryId}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h3>{{rewardHistory.dateOfRedemption}}</h3>
                <h4>{{rewardHistory.redeemPointValue}} Points</h4>
            </mat-card-content>
		</mat-card>
	</div>
</section>
